six
lxml==3.6.0
Flask==0.12.3
Flask-Admin>=1.4.2
Flask-SQLAlchemy>=2.1
Flask-WTF>=0.12
WTForms>=2.1
scrapy==1.1.0
numpy==1.21.0
scikit-learn==0.17.1
scipy==0.17.0
formasaurus[with_deps]==0.8.0
scrapy-splash==0.7
crochet==1.5.0
requests==2.10.0
# git+https://github.com/TeamHG-Memex/decaptcha.git@cf1be63a8aaa76ef26d3b53bc255382b557b92f6
