six
lxml
Flask==0.10.1
Flask-Admin==1.4.0
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
WTForms==2.1
scrapy==1.1.0
numpy
scipy
scikit-learn
formasaurus[with-deps]==0.7.2
scrapy-splash>=0.4
crochet
requests
git+https://github.com/TeamHG-Memex/decaptcha.git
